# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
PHQ9 file for Elina with PNC FH.csv
PNC_Core_Data_demographics.csv
PNC_Core_Data_clinical.csv
PNC_Core_Data_cognitive.csv
PNC_Core_Data_environment.csv
README.html
Full_Data.csv
PNC_Core_Data_cognitive_ALTERNATIVE.csv
PHQ9_file_for_Elina_with_PNC_FH.csv
SepDivorce.csv
n9462_substance_go1_052215.csv
cor_clinic.xlsx
pics
cor_cog.xlsx
GO1_grade_repeats.csv
n14508_GOASSESS_Timeline_noncorrected_20131021_redcap_pid251.csv
repeat_a_grade.xlsx
~$repeat_a_grade.xlsx
sips_extras.csv
cor_cog.csv
cor.csv
names.csv
cor_clinic.csv
